<section class="news-section" id="news">
  <h2>Latest News</h2>
  <div class="news-container">
    {% for post in site.news limit:3 %}
    <article class="news-item">
      <span class="news-date">{{ post.date | date: "%b, %Y" }} </span>
      <div class="news-desc row">
          <a href="{{ post.link }}">{{ post.title }}</a>
          <div>
            <a href="{{ post.link }}" class="news-link">PDF</a>
            <a href="{{ post.link }}" class="news-link">Slides</a>
            <a href="{{ post.link }}" class="news-link">Video</a>
          </div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>