
<section class="news-section container" id="news">
<h1>Latest News</h1>
    {% for post in site.data.news %}
    <div class="news-item">
      <p class="news-date" style="font-size: 13pt;"><span style="color: black;">{{ post.date | date: "%b, %Y" }} </span></p>
      <div class="news-desc">
          <h5 style="font-size: 13pt;">{{ post.title }}
          {% if post.document_link %}
            <a href="{{ post.document_link }}">
              <span class="icon" style="color: #189dfb;"><i class="fa-solid fa-book-open-reader"></i></span> 
            </a>
        {% endif %}
        {% if post.slides_link %}
            <a href="{{ post.slides_link }}">
              <span class="icon" style="color: rgb(255, 140, 0);"><i class="fa-brands fa-slideshare"></i></span> 
            </a>
        {% endif %}
        {% if post.video_link %}
            <a href="{{ post.video_link }}">
              <span class="icon" style="color: rgb(247, 66, 66);"><i class="fa-solid fa-video"></i></span>
            </a>
        {% endif %}</h5>
      </div>
    </div>
    {% endfor %}
</section>





