<section class="team-section" id="team">
    <div class="container">
    <h1>Team</h1>
    <div class="team-container">
        {% for member in site.data.team %}
            {% if member.role == 'admin' %}
            <div class="admin-member">
                <img src="{{ member.image }}" alt="{{ member.name }}" class="team-photo">
                <div class="member-info">
                    <div class="member-name">{{ member.name }}</div>
                    <p><span class="designation">{{ member.designation }}</span>{% if member.office %}<br>{{ member.office }}{% endif %}<br><span  class="email">{{ member.email }}</span></p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% for member in site.data.team %}
            {% if member.role != 'admin' %}
                {% if member.alumni == false %}
            <div class="team-member">
                <img src="{{ member.image }}" alt="{{ member.name }}" class="team-photo">
                <div class="member-info">
                    <div class="member-name">{{ member.name }}</div>
                    <p><span class="designation">{{ member.designation }}</span>{% if member.office %}<br>{{ member.office }}{% endif %}<br><span  class="email">{{ member.email }}</span></p>
                </div>
            </div>
        {% endif %}
            {% endif %}
    {% endfor %}
    </div>
    </div>
</section>
